$black: #1a1b21;
$dark_gray: #27282f;
$light_gray: #555868;
$dark_orange: #b6610e;
$orange: #ff850d;
$white: white;

footer {
  background: $black;
  padding: 20px 0px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

footer ul li {
  margin: 0;
  padding: 0;
  float: left;
  display: inline;
}

footer ul li a {
  display: block;
  color: $white;
  border-right: 1px solid $white;
  padding: 0px 20px;
  font-size: 13px;
  font-weight: 300;
}

footer ul li a:hover {
  text-decoration: none !important;
  color: $orange;
}

footer span {
  font-size: 12px;
}
