.home-holder {
  background-image: url(image/home/bg.jpg);
  background-size: 100% 100%;
}

.tagline {
  font-weight: bold;
  font-size: 50px !important;
}

.row-home {
  margin-top: 100px;
  text-shadow: 2px 2px 2px #333333;
}

.home-holder h1 {
  font-size: 30px;
}

.home-holder p {
  font-size: 17px;
  margin-top: 30px;
  color: #cccccc;
}
