.partners-holder {
  background-image: url(image/partners/partner-bg.jpg);
  background-size: cover;
}

.row-partners {
  margin-top: 70px;
}

.partners-inner-holder h1 {
  font-size: 40px;
  font-weight: bold;
  color: #222222;
  text-shadow: 2px 2px 2px #dddddd;
}

#accross img, #chango img, #collective img, #beyond img, #coolit img, #babble img, #client7 img, #client8 img {
  opacity: 0;
}

#accross {
  background-image: url(image/partners/client1.png);
  display: inline-block;
  -webkit-transition: background-image 0.5s;
  -moz-transition: background-image 0.5s;
  -o-transition: background-image 0.5s;
  transition: background-image 0.5s;
  background-repeat: no-repeat;
  height: 50px;
}

#accross:hover {
  background-image: url(image/partners/client1-colored.png);
}

#chango {
  background-image: url(image/partners/client2.png);
  display: inline-block;
  -webkit-transition: background-image 0.5s;
  -moz-transition: background-image 0.5s;
  -o-transition: background-image 0.5s;
  transition: background-image 0.5s;
  background-repeat: no-repeat;
  height: 63px;
}

#chango:hover {
  background-image: url(image/partners/client2-colored.png);
}

#collective {
  background-image: url(image/partners/client3.png);
  display: inline-block;
  -webkit-transition: background-image 0.5s;
  -moz-transition: background-image 0.5s;
  -o-transition: background-image 0.5s;
  transition: background-image 0.5s;
  background-repeat: no-repeat;
  height: 63px;
}

#collective:hover {
  background-image: url(image/partners/client3-colored.png);
}

#beyond {
  background-image: url(image/partners/client6.png);
  display: inline-block;
  -webkit-transition: background-image 0.5s;
  -moz-transition: background-image 0.5s;
  -o-transition: background-image 0.5s;
  transition: background-image 0.5s;
  background-repeat:no-repeat;
}

#beyond:hover {
  background-image: url(image/partners/client6-colored.png);
}

#coolit {
  background-image: url(image/partners/client4.png);
  display: inline-block;
  -webkit-transition: background-image 0.5s;
  -moz-transition: background-image 0.5s;
  -o-transition: background-image 0.5s;
  transition: background-image 0.5s;
  background-repeat:no-repeat;
}

#coolit:hover {
  background-image: url(image/partners/client4-colored.png);
}

#babble {
  background-image: url(image/partners/client5.png);
  display: inline-block;
  -webkit-transition: background-image 0.5s;
  -moz-transition: background-image 0.5s;
  -o-transition: background-image 0.5s;
  transition: background-image 0.5s;
    background-repeat:no-repeat;
    height: 63px;
}

#babble:hover {
  background-image: url(image/partners/client5-colored.png);
}

#client7 {
  background-image: url(image/partners/client7.png);
  display: inline-block;
  -webkit-transition: background-image 0.5s;
  -moz-transition: background-image 0.5s;
  -o-transition: background-image 0.5s;
  transition: background-image 0.5s;
  background-repeat:no-repeat;
}

#client7:hover {
  background-image: url(image/partners/client7-colored.png);
}

#client8 {
  background-image: url(image/partners/client8.png);
  display: inline-block;
  -webkit-transition: background-image 0.5s;
  -moz-transition: background-image 0.5s;
  -o-transition: background-image 0.5s;
  transition: background-image 0.5s;
    background-repeat:no-repeat;
}

#client8:hover {
  background-image: url(image/partners/client8-colored.png);
}

#invest-in {
  font-weight: 200;
}
